* {
    margin: 0;
    padding: 0
}

body {
    background-color: #f9f9f9;
    color: #666;
}

li {
    list-style: none;
}

h1 {
    font-size: 18px
}

h3 {
    font-size: 14px
}

h3:after {
    border-bottom: 1px solid #e0e0e0;
    content: "";
    display: block;
    padding-bottom: 14px
}

#cart, 
#cart ul{overflow: hidden;}
#cart ul li,
#cart li div {
    width: 30%;
    float: left;
}
.adsDetails{
    padding: 20px 0;
    float: left;
    width: 100%
}
li.adsDetails:hover{background: #eee}

input[type="button"],
input[type="submit"]{
    padding: 0 4px;
}

input[type="text"]{
    padding: 0 10px;
    text-align: center;
}