<!DOCTYPE html>
<html>

<head>
    <title>Seek International Exercise</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <script>
    var company = {
        "id": 1,
        "name": "Unilever"
    }
    </script>
    <script src="model/data.js"></script>
    <script src="bower_components/jQuery/dist/jquery.js"></script>
    <script src="bower_components/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
</head>

<body>
    <div class="container">
        <div id="app" class="row">
            <h1 class="col-md-8">Ads Checkout System : {{company.name}}<hr></h1>
            <div class="col-md-4" id="companyDetails" v-for="ads in pricingRules">
                <br>
                <b>Discounted Ads </b> {{ads.type}}
                <hr>
            </div>
            <div class="col-md-8">
                <ul id="cart">
                    <ul>
                        <li><b>Type</b></li>
                        <li><b>Price</b></li>
                    </ul>
                    <!-- Loop based on basepricing - 3 package -->
                    <li class="adsDetails" v-for="ads in data.basePricing">
                        <div>{{ ads.title }}</div>
                        <div>{{ ads.price }}</div>
                        <div>
                            <select v-model="optionSelected[$index]" @change="updateSelected($index, data.basePricing[$index].price, optionSelected)">
                                <!-- Loop based on options -->
                                <option v-for="option in data.options">
                                    {{ option }}
                                </option>
                                <!-- @end Looping -->
                            </select>
                        </div>
                    </li>
                    <!-- @end Looping -->
                </ul>
            </div>
            <div id="output" style="display: none" class="col-md-4">
                <ul>
                    <li><b>Package Count</b></li>
                    <li><b>Price</b></li>
                </ul>
                <!-- Loop based on optionSelected -->
                <div class="adsDetails" track-by="$index" v-for="ads in optionSelected">
                    <ul>
                        <li>{{ ads }}</li>
                        <li id="price{{$index}}"></li>
                    </ul>
                </div>
                <!-- @end Looping -->
            </div>
            <div class="col-md-8">&nbsp;</div>
            <div class="col-md-4" id="total" style="display: none">
                <input type="submit" onclick="d.total();" value="Calculate Total">
            </div>
        </div>
        <script>
        new Vue({
            el: '#app',
            data: {
                optionSelected: {},
                pricingRules,
                company,
                data
            },
            ready() {

            },
            methods: {
                updateSelected(index, price, count) {
                    // calculate price based on pricing Rules array
                    var total = count[index] * price;
                    finalPrice.push(total);

                    $('#price' + index + '').html(total); // may not work in Firefox
                    $('#output, #total').css('display', 'block');
                }
            }
        });
        </script>
</body>

</html>
